/* Root */

.root {
  position: relative;
  z-index: var(--overlay);
  width: fit-content;
}

/* Content */

.content {
  border: 1px solid var(--gray-200);
  position: absolute;
  top: 0;
  min-width: max-content;
}
