/* controls */

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-200);
  min-width: 40px;
  height: 40px;
  background-color: white;
  font-weight: 600;
  color: var(--gray-500);
  border-radius: 50%;
  user-select: none;

  &:hover {
    background-color: var(--gray-100);
  }

  &:disabled {
    background-color: var(--gray-200);
    cursor: not-allowed;
  }

  &.active {
    background-color: var(--blue);
    color: white;
  }
}

/* wrapper */

.wrapper {
  display: flex;
  gap: 4px;
}
