/* input */

.input {
  padding: 12px 20px;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--gray-100);
  line-height: 26px;
  border-radius: 8px;

  &::placeholder {
    color: var(--gray-400);
  }

  &:focus {
    outline: 1px solid var(--blue);
  }

  &.error {
    outline: 1px solid var(--red);
  }

  &.password {
    padding-right: 50px;
  }
}

/* password input */

.password-wrapper {
  position: relative;
  height: min-content;

  .eye-icon {
    padding: 10px;
    position: absolute;
    top: calc(50% + 2px);
    right: 0px;
    transform: translateY(-50%);
  }
}

.error-msg {
  display: block;
  margin-top: 8px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--red);
}

/* search input */

.search-input-wrapper {
  position: relative;

  input {
    padding: 9px 20px 9px 44px;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--gray-100);
    font-size: 16px;
    border-radius: 8px;

    &::placeholder {
      color: var(--gray-400);
    }

    &:focus {
      outline: 1px solid var(--blue);
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}

/* tag list */

.tag-list {
  display: flex;
  margin-top: 14px;
  gap: 12px;
  flex-wrap: wrap;

  .tag {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 12px 6px 16px;
    background-color: var(--gray-100);
    border-radius: 26px;

    .delete-icon {
      height: 22px;
      svg {
        fill: var(--gray-400);
      }

      &:hover svg {
        fill: var(--red);
      }
    }
  }
}
