@use "sass-rem" as rem;

.button {
  padding: rem.convert(8px 23px);
  background-color: var(--blue);
  font-size: rem.convert(16px);
  color: white;
  border-radius: rem.convert(8px);

  &:hover {
    background-color: var(--blue-200);
  }

  &:disabled {
    background-color: var(--gray-400);
    cursor: not-allowed;
  }

  &.round {
    border-radius: rem.convert(40px);
  }
}
