.main-layout {
  margin: 76px 20px 0;
  min-height: calc(100vh - 76px - 120px);

  @media (min-width: 768px) {
    margin: 76px 24px 0;
  }

  @media (min-width: 1000px) {
    margin: 76px 100px 0;
  }

  @media (min-width: 1200px) {
    margin: 76px 200px 0;
  }

  @media (min-width: 1600px) {
    margin: 76px 360px 0;
  }
}
