.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--gray-800);
}

.container {
  display: flex;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.35);
  overflow: hidden;
  position: relative;
  min-width: 360px;
  background-color: white;
  border-radius: 24px;

  @media (min-width: 768px) {
    min-width: 720px;
  }

  &.login {
    height: 480px;
  }

  &.sign-up {
    height: 620px;
  }
}

/* LoginForm, SignUpForm */

.form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 32px 20px;
  position: relative;

  h1 {
    margin-top: 20px;
    font-family: "Borel", cursive;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .subtitle {
    display: block;
    margin-bottom: 24px;
    font-family: "Borel", cursive;
    font-size: 14px;
    color: var(--gray-600);
    text-align: center;
  }

  .home-icon {
    position: absolute;
    top: 16px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    label {
      display: block;
      margin: 8px 0;
      font-size: 14px;
      font-weight: 700;

      &:first-child {
        margin-top: 0;
      }
    }

    .link-block {
      display: block;
      margin-top: 12px;
      font-size: 14px;
      text-align: center;

      @media (min-width: 768px) {
        display: none;
      }

      a {
        color: var(--blue);
        text-decoration: underline;
      }
    }

    button[type="submit"] {
      margin-top: auto;
    }
  }
}

/* Information */

.information-container {
  display: none;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  position: relative;
  background-color: var(--blue);
  color: white;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
  }

  .home-icon {
    position: absolute;
    top: 16px;
  }

  h1 {
    margin-top: 100px;
    font-size: 44px;
    font-weight: 700;
  }

  span {
    display: block;
    margin-top: 12px;
    color: var(--gray-100);
  }

  a {
    margin-top: auto;
    margin-bottom: 60px;

    .link-button {
      display: block;
      margin: auto;
      padding: 16px 0;
      border: 1px solid white;
      width: 60%;
      color: white;
      text-align: center;
      border-radius: 6px;

      &:hover {
        background-color: var(--blue-200);
      }
    }
  }
}
